<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>

<%- include('./partials/nav.ejs') %> 

    <div class="not-found content">
        <p>Shit, page not found</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>